

.header {
  border-bottom: 10px solid rgba(68, 70, 230, 0.884);
  width: 100%;
  padding: 30px 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9em;
  a {
    text-decoration: none;
    color: #3D3D3D;
    font-weight: 500;
    font-size: 1.2em;
  }
  .home-button {
    padding: 6px 30px;
    font-weight: bolder;
    font-size: 1.3em;
    color: rgba(68, 70, 230, 0.884);
    // border: 2.5px solid rgba(68, 70, 230, 0.884); 
    border-radius: 3px;
    margin-right: 12px;
    border-bottom: 2.5px solid ;
    &:hover {
      border-bottom: 2.5px solid rgba(68, 70, 230, 0.884); 
      cursor: pointer;
    }
  }
  width: 100%;
  .search-form-warp {
    width: 50%;
    display: flex;
    align-items: center;
    .seach-form {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .searh-input {
      padding: 8px;
      width: 80%;
      border: 1px solid #1a4a68;
      border-radius: 3px;
      box-shadow: none;
      &:focus {
        outline: none;
      }
    }
    .submit-search {
      padding: 9px 40px;
      border-radius: 3px;
      color: #EDEDED;
      margin-left: 6px;
      border-width: 0;
      background-color: rgba(68, 70, 230, 0.884);
      &:hover {
        cursor: pointer;
      }
    }
  }

  .user-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .session-button {
      padding: 5px 30px;
      border: 2.5px solid transparent;
      border-radius: 3px;
      // color: #387094;
      // border: 2.5px solid #387094;
    }
    #sign-up {
      border: 2.5px solid transparent; 
      &:hover {
        transition: .5s;
        border-bottom: 2.5px solid  rgba(68, 70, 230, 0.884);
        cursor: pointer;
      }
    }

    #login {
      margin-left: 6px;
      &:hover {
        border-bottom: 2.5px solid  rgba(68, 70, 230, 0.884); 
        cursor: pointer;
      }
    }
  }
}
.results {
  h3 {
    text-align: center;
    padding: 10px 0;
  }

  h4 {
    text-align: center;
    padding: 10px 0;
  }
  .result-stats{
    padding: 10px 7%;
    display: inline-block;
    width: 100%;
    .hospital {
      width: 25%;
      margin: 0 .5%;
      float: left;
      padding: 8px 2px;
      border: 1px solid rgb(204, 203, 203);
      div {
        padding: 2px;
        text-align: center;
        margin: 0 1px;
        float: left;
        
      }
    }
  }

}
.chartwrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.avg-cost {
  width: 40%;
  float: left;
}