.footer {
    background: -webkit-linear-gradient(top, #dbdbdb, #d6d6d6);
    background: -moz-linear-gradient(top, #d8d8d8, #d1d1d1);
    background-color: #d4d4d4;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 70px 0 0 0;
    margin: 30px 0;

    .name {
        position: relative;
        padding: 30px 0;
        border-radius: 0;
        background-color: transparent; 
        font-size: 2em;
        padding: 3px;
        font-weight: 600;
        color: rgba(68, 71, 230, 0.877)
    }
    .developer {
        margin: 50px 0 0 0;
        padding: 8px 0;
        background-color: rgba(68, 71, 230, 0.877);
        font-size: .8em;
        a {
            color: #F0C630; 
            text-decoration: none;
        }
    }

    
}