.home {
    // padding: 20px 0;
    padding: 0 7%;
    display: flex;
    height: 75vh;
    // background: url("../landing.png");
    background: linear-gradient(to left, rgba(226, 226, 226, 0.74)50%, rgba(179, 179, 179, 0.74) 50%);
    // background-color: rgba(253, 216, 48, 0.945);
        // border-top: 1px solid rgba(168, 168, 168, 0.753);
        // border-bottom: 1px solid rgba(168, 168, 168, 0.753);
}

.landing-banner {
    font-size: 1.2em;
    color: #EDEDED;
    align-self: center;
    display: flex;
    background-color: rgba(68, 71, 230, 0.877);
    .intro {
        padding: 80px 20px;
        width: 55%;
        vertical-align: text-top;
        span {
            font-size: 2em;
            padding: 3px;
        }
        p {
            font-size: 1.1em;
        }
    }
    .right {
        width: 45%;
        text-align: center;
        color: rgba(68, 70, 230, 0.884);
        border: 2.5px solid;
        background: -webkit-linear-gradient(top, #F7F7F7, #FAFAFA);
        background: -moz-linear-gradient(top, #F7F7F7, #FAFAFA);
        background-color: #F7F7F7;
    }
    .name {
        font-size: 2.3em;
        font-weight: bold;
        padding: 10px 0;
        margin: 20px 0;
        display: inline-block;
    }

    .upload-button {
        padding: 4px 30px;
        width: fit-content;
        margin: 20px auto;
        border: 2.5px solid;
        border-radius: 2px;
        &:hover {
          // background: rgba(14, 199, 231, 0.8);
          background-color: #F5DA20;
          transition: .5s;
          cursor: pointer;
        }
    }
}
.mapWrap {
    margin: 15px 0;
    background-color: rgba(168, 168, 168, 0.753);
    height: 30vh;
}