.profile-wrap {
    font-size: 1.2em;
    color: #EDEDED;
    display: flex;
    padding: 0 7%;
    margin: 20px 0;

    .user {
        padding: 20px;
        width: 40%;

        background-color: rgba(68, 70, 230, 0.884);
        vertical-align: text-top;
    }
    .right {
        padding: 20px;
        position: relative;
        vertical-align: text-top;
        width: 60%;
        color: rgba(68, 70, 230, 0.884);
        border: 2.5px solid;
        background: -webkit-linear-gradient(top, #F7F7F7, #FAFAFA);
        background: -moz-linear-gradient(top, #F7F7F7, #FAFAFA);
        background-color: #F7F7F7;
        

        .user-data {
            font-size: .8em;
            height: fit-content;
        }

        .not-here {
           display: none;
        }
        h3 {
            padding: 0 0 10px 0;
            text-decoration: underline;
        }
        .procedure {
            width: 100%;
            padding: 10px 2px;
            border: 1px solid;
            color: rgb(27, 27, 27);
            overflow-x: scroll;
            margin: 5px 0;

            table {
                table-layout: fixed
            }
            td {
                min-width: 100px;
            }
        }
        // .procedure-data{
        //     display: flex;
        //     align-items: center;
            
        //     .attribute {
        //     }
        // }
    }
    .name {
        font-size: 2.3em;
        font-weight: bold;
        padding: 10px 0;
        margin: 20px 0;
        display: inline-block;
    }
    .upload-button {
        padding: 4px 30px;
        width: fit-content;
        margin: 20px 0;
        border: 2.5px solid;
        border-radius: 2px;
        &:hover {
          // background: rgba(14, 199, 231, 0.8);
          transition: .5s;
          cursor: pointer;
        }
    }

    .delete {
        padding: 6px 30px;
        width: fit-content;
        border-radius: 2px;
        border-width: 0;
        background: rgba(241, 75, 56, 0.884);
        &:hover {
            cursor: pointer;
        }
    }
}